html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
       */
    font-size: 10px;
}

body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    color: #fff;
}

a {
    color: #bc1010;
}

a:hover {
    color: #000;
}

a:visited {
    color: #7c3232;
}

#title {
    border-bottom: 4px solid #bc1010;
    margin: 0;
    background-color: #333333;
    padding: 10px;
    text-align: center;
}

#main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

#img-caption {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 10px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.flex-container {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.left-column {
    flex: 50%;
    padding: 20px;
}

.right-column {
    flex: 50%;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .flex-container {
        flex-direction: column;
    }
}

section {
    margin-top: 5rem;
}

#main {
    background-color: #ffffff;
    color: #000;
}

#img-div {
    padding: 10px;
    margin: 0;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

blockquote {
    font-style: italic;
    font-size: 2.4rem;
    margin: 0 auto 50px auto;
    text-align: center;
}

footer {
    background-color: #333333;
    border-top: 4px solid #bc1010;
    text-align: center;
    color: #fff;
    padding: 20px;
}